section.education
  h1 Edukacja
  div.blue-underline
  
  div.edu-container
    div.edu-image
    div.edu-text
      h2 Absolwent „Trójki” wśród najlepszych naukowców UE
      span Dodano: 2016-04-18
      p Igor jest autorem projektu „Amber Drug. Badanie wpływu ekstraktów z żywic kopalnych i subfosylnych oraz kwasu 1,4-butanodiowego na wybrane mikroorganizmy". Jak wykazał, uzyskane z bursztynu substancje czynne mogłyby zwalczać chorobotwórcze bakterie w rodzaju gronkowca złocistego, nie szkodząc bakteriom jelitowym takim jak E. coli. Opiekunem naukowym pracy jest dr Magdalena Cichowicz-Cieślak.      
