section.foot
  .logo-slider Polecamy:
  
  .footer
    .footer-menu
      ul
        li.title Aktualności
        li Wydarzenia
        li Ratusz – informacje
        li Inwestycje
        li Konkursy
      ul
        li.title Urząd miasta
        li Przewodnik urzędowy
        li Władze miasta
        li Wszystko o Gdyni
        li Dla mieszkańców
        li Dla inwestorów
        li Dla Przedsiębiorców
        li Dla mediów
      ul
        li.title Wypoczynek i rekreacja
        li Mapa Gdyni
        li Komunikacja
        li Kalendarz imprez
      ul
        li.title Edukacja
        li Wydział edukacji
        li Szkolnictwo ponadgimnazjalne
        li Rekrutacja
        li Informator
        li Konkursy dla uczniów
        li Gdyński Szlak Edukacyjny

      ul
        li.title Multimedialna Gdynia
        li Kartki, tapety
        li Galeria zdjęć

      ul.no-margin
        li.title Social Media
        li.fb Facebook
        li.tw
        li.instagram

    
    .subscribe
      h2 newsletter
      input.mail(type="text", class="", placeholder="twój mail")
      //- button.sign-in(type="submit", vaule="Zapisz się") Zapisz się
      button.sign-in Zapisz się
      
  .rights <b>Urząd Miasta&nbspw Gdyni</b>, 81-&nbsp382 Gdynia, Aleja Marszałka Piłsudskiego&nbsp52&nbsp/54 </br>telefon (58) 66 88 000, fax (58) 62 09 798, e-mail: #[a(href="mailto:umgdynia@gdynia.pl ") umgdynia@gdynia.pl]
      
