div.logo-slider Polecamy:
div.footer
  div.footer-container
    lu
      li.title Aktualności
      li Wydarzenia
      li Ratusz – informacje
      li Inwestycje
      li Konkursy
    lu
      li.title Urząd miasta
      li Przewodnik urzędowy
      li Władze miasta
      li Wszystko o Gdyni
      li Dla mieszkańców
      li Dla inwestorów
      li Dla Przedsiębiorców
      li Dla mediów
    lu
      li.title Wypoczynek i rekreacja
      li Mapa Gdyni
      li Komunikacja
      li Kalendarz imprez
    lu
      li.title Edukacja
      li Wydział edukacji
      li Szkolnictwo ponadgimnazjalne
      li Rekrutacja
      li Informator
      li Konkursy dla uczniów
      li Gdyński Szlak Edukacyjny

    lu
      li.title Multimedialna Gdynia
      li Kartki, tapety
      li Galeria zdjęć

    lu
      li.title.no-margin Social Media
      li
      li
      li
      li

  h2 newsletter
  div.buttons
    input.mail(type="text", class="", placeholder="twój mail")
    //- button.sign-in(type="submit", value="Zapisz się") Zapisz się
    div.sign-in Zapisz się


div.cr-containter <b>Urząd Miasta w Gdyni</b>, 81-382 Gdynia, Aleja Marszałka Piłsudskiego 52/54 </br>telefon (58) 66 88 000, fax (58) 62 09 798, e-mail: umgdynia@gdynia.pl
  
