section.header
  .first-row
    .left-panel
      .logo Gdynia
      a(class="burger fa fa-bars", href="#")
    
    .right-panel  
      .mob <b>PL</b> | EN
      .desktop Wersja językowa: <b>PL</b> | EN
      .searchbar
        input(type="search", class="search", placeholder="Szukaj")
        button(type="submit", value="", class="submit", placeholder="Klik")
          .loupe
    
        
    
  
  
  .second-row
    ul.main-menu
      li Aktualności
      li Urząd miasta
      li Wypoczynek i rekracja
      li Edukacja
      li Harmonogram
