div.slider
  div.overlay
    div.content
      h2.title Pomorski Park Naukowo Technologiczny
      div.orange-box
        p.describe Otwarcie PPNT już w najbliższą sobotę o godz. 10.00


ul.loader
  li
  li
  li
  li
  li
