section.news
  h1 Aktualności
  div.blue-underline
  
  div.news-container
    
    div.news-1
      div.image-1
        div.overlay
        h2 Gdyńskie urodziny Orkiestry Adam Sztaby
      aside Dodano: 2016-04-18
      
    div.news-2
      div.image-2
        div.overlay
        h2 Projektuj miasto w gdyńskim Infoboksie
      aside Dodano: 2016-04-18  
    
    div.news-3
      div.image-3
        div.overlay
        h2 Gdynia solidna z Belgią 
      aside Dodano: 2016-04-18
    
    div.news-4
      div.image-4
        div.overlay
        h2 Wyjątkowe „Muzeum Bez Wyjątku” na Polskiej 1 
      aside Dodano: 2016-04-18
    
    div.news-5
      div.image-5
        div.overlay
        h2 XIX Mistrzostwa Polski Cheerleaders
      aside Dodano: 2016-04-18
      
div.arrow-down
  <svg width="72" height="72" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg"><title>arrow-down</title><g fill="none" fill-rule="evenodd"><circle fill="#405AA2" cx="36" cy="36" r="36"/><path d="M57.09 27.376c.293-.292.44-.657.44-1.06 0-.4-.147-.765-.44-1.057-.584-.585-1.533-.585-2.117 0l-18.62 18.618-18.618-18.62c-.584-.583-1.533-.583-2.118 0-.584.585-.584 1.534 0 2.118L35.295 47.09c.584.585 1.534.585 2.118 0L57.09 27.376z" fill="#FFF"/></g></svg>      
