section.office
  h1 Urząd miasta
  div.blue-underline
  
  div.office-container
    div.office-image Logo
    div.office-text
      p.col-1 <b>Adres:</b> </br>Al. Marszałka Piłsudskiego 52/54</br>81-382 Gdynia</br>NIP 586-002-28-60 </br>REGON 000598486</br></br><b>Kontakt:</b> </br>tel. centrala  (58) 66 88 000</br>fax  (58) 62 09 798</br>e-mail: umgdynia@gdynia.pl </br>adres skrytki ESP na ePUAP-ie w brzmieniu:</br>"Skrytka odbiorcza: /75ci82jswn/skrytka"
      p.col-2 <b>Poniedziałek - Piątek:</b></br>Kancelaria Ogólna: 7:00 - 17:00 </br>Sala Obsługi Mieszkańców: - dowody osobiste, prawa jazdy, rejestracja pojazdów: 7:00 - 18:00 </br>Pozostałe Wydziały i Referaty: 8:00 - 16:00</br></br><b>Sobota:</b></br>Sala Obsługi Mieszkańców: dowody osobiste, prawa jazdy, rejestracja pojazdów, meldunki:  8:00 - 14:00</br>Osoby niemówiące i niesłyszące mogą bezpłatnie skorzystać z usług tłumacza języka migowego (w godz. 9.00 - 15.00). Stanowisko tłumacza znajduje się w hollu (stanowisko nr 2) siedziby UM przy Al. Marsz. Piłsudskiego.
