section.rest
  h1 Wypoczynek i rekreacja
  .blue-underline
  
  .rest-container
    .rest-image
    .rest-text
      h2 Do Gdyni po formę i zdrowie
      span Dodano: 2016-04-18
      p Baseny pływackie, korty tenisowe, boiska, sztuczne lodowisko, sale lekkoatletyczne, fittnes kluby, kajaki, leśne trasy rowerowe, ścieżki zdrowia, piłka plażowa. Co sprzyja długowieczności i zdrowiu mieszkańców? Bez wątpienia na równi środowisko i higieniczny styl życia. W Gdyni żyje ponad dwadzieścia osób, które ukończyły 100 i więcej lat. Coś w tym jest... Gdynia - po formę i zdrowie - zdjecia Przyroda - korzystny klimat, czyste powietrze, atrakcyjne i blisko osiedli położone tereny rekreacyjne.
      
