section.slide
  .overlay
  .content
    h2.title Pomorski Park Naukowo Technologiczny
    .orange-box
      p.describe Otwarcie PPNT już w najbliższą sobotę o godz. 10.00


.loader
  span.active
  span.inactive
  span.inactive
  span.inactive
  span.inactive
