div.logo-slider
  height: 250px
  max-width: 100%
  width: 1440px
  background: #5a83c2
  margin-top: 100px

div.footer
  background-color: $navy
  max-width: 100%
  width: 1440px
  height: 550px

  div.footer-container
    display: flex
    justify-content: center
    background-color: $navy
    color: white
    box-sizing: border-box

    ul, li
      list-style: none
      margin-right: 80px
      // background-color: pink

    li.title
      font-weight: bold
      margin-bottom: 10px
      margin-top: 75px

    li.no-margin
      margin-right: 0px

  h2
    font-family: Roboto-Bold
    font-size: 24px
    color: #ffffff
    text-align: center
    text-transform: uppercase
    // background-color: pink
    margin: 80px 0 0 0

  div.buttons
    text-align: center
    // padding-bottom: 90px
    input.mail
      border: 2px solid #ffab40
      border-radius: 10px
      width: 256px
      height: 48px
      background-color: $navy
      font-family:Roboto-Regular
      font-size: 24px
      color: #ffffff
      text-align: center
      margin: 45px 40px 0 0

    div.sign-in
      display: inline-block
      background: #ffab40
      border-radius: 10px
      width: 256px
      height: 48px
      color: white
      margin-top: 45px
      font-family:Roboto-Regular
      font-size: 24px
      line-height: 48px
      color: #ffffff
      text-align: center
      margin-top: 45px
      cursor: pointer

div.cr-containter
  font-family: Roboto
  font-size: 16px
  color: #405aa2
  line-height: 24px
  text-align: center
  margin: 25px 0
