section.news
  width: 1148px
  margin: 0 auto

  h1
    font-family: Roboto-Bold
    font-size: 36px
    color: $navy
    margin-bottom: 10px
  div.blue-underline
    height: 10px
    background-color: $navy
    border-radius: 10px

  div.news-container
    display: flex
    justify-content: space-between
    flex-wrap: wrap

    div.image-1
      margin-top: 40px
      width: 550px
      height: 367px
      background: url(/assets/img/img-1.jpg) no-repeat top center
      background-size: cover
      position: relative
      // background-color: pink

      div.overlay
        // background-color: black
        background-color: rgba(0,0,0, 0.3)
        position: absolute
        width: 550px
        height: 367px
        top: 0px
        left: 0px

      h2
        position: absolute
        font-family: Roboto-Bold
        font-size: 36px
        color: #ffffff
        line-height: 42px
        text-align: left
        // background-color: pink
        margin-left: 40px
        margin-bottom: 25px
        bottom: 0

    aside
      padding-top: 15px

    div.image-2
      margin-top: 40px
      width: 550px
      height: 367px
      background: url(/assets/img/img-2.jpg) no-repeat top center
      background-size: cover
      position: relative
      // background-color: pink

      div.overlay
        // background-color: black
        background-color: rgba(0,0,0, 0.3)
        position: absolute
        width: 550px
        height: 367px
        top: 0px
        left: 0px

      h2
        position: absolute
        font-family: Roboto-Bold
        font-size: 36px
        color: #ffffff
        line-height: 42px
        text-align: left
        // background-color: pink
        margin-left: 40px
        margin-bottom: 25px
        bottom: 0

    aside
      padding-top: 15px

    div.image-3
      margin-top: 40px
      width: 353px
      height: 236px
      background: url(/assets/img/img-3.jpg) no-repeat top center
      background-size: cover
      position: relative
      // background-color: pink

      div.overlay
        // background-color: black
        background-color: rgba(0,0,0, 0.3)
        position: absolute
        width: 353px
        height: 236px
        top: 0px
        left: 0px

      h2
        position: absolute
        font-family: Roboto-Bold
        font-size: 24px

        color: #ffffff
        line-height: 30px
        text-align: left
        // background-color: pink
        margin-left: 40px
        margin-bottom: 25px
        bottom: 0

    aside
      padding-top: 15px

    div.image-4
      margin-top: 40px
      width: 353px
      height: 236px
      background: url(/assets/img/img-4.jpg) no-repeat top center
      background-size: cover
      position: relative
      // background-color: pink

      div.overlay
        // background-color: black
        background-color: rgba(0,0,0, 0.3)
        position: absolute
        width: 353px
        height: 236px
        top: 0px
        left: 0px

      h2
        position: absolute
        font-family: Roboto-Bold
        font-size: 24px

        color: #ffffff
        line-height: 30px
        text-align: left
        // background-color: pink
        margin-left: 40px
        margin-bottom: 25px
        bottom: 0

    aside
      padding-top: 15px

    div.image-5
      margin-top: 40px
      width: 353px
      height: 236px
      background: url(/assets/img/img-5.jpg) no-repeat top center
      background-size: cover
      position: relative
      // background-color: pink

      div.overlay
        // background-color: black
        background-color: rgba(0,0,0, 0.3)
        position: absolute
        width: 353px
        height: 236px
        top: 0px
        left: 0px

      h2
        position: absolute
        font-family: Roboto-Bold
        font-size: 24px

        color: #ffffff
        line-height: 30px
        text-align: left
        // background-color: pink
        margin-left: 40px
        margin-bottom: 25px
        bottom: 0

    aside
      padding-top: 15px

div.arrow-down
  // background-color: pink
  margin-top: 50px
  text-align: center
