section.rest
  width: 1148px
  margin: 0 auto

  h1
    font-family: Roboto-Bold
    font-size: 36px
    color: $navy
    margin-bottom: 10px

  div.blue-underline
    height: 10px
    background-color: $navy
    border-radius: 10px

  div.rest-container
    display: flex

    div.rest-image
      background: url(/assets/img/Rest@2x.jpg) no-repeat top center
      background-size: cover
      width: 450px
      height: 300px
      margin-top: 45px
      margin-right: 40px

    div.rest-text
      width: 550px
      margin-top: 45px

      h2
        font-size: 24px
        margin: 0px

      p
        font-family: Roboto-Regular
        font-size: 18px
        color: #4a4a4a
        line-height: 28px
        text-align: left
        margin-top: 15px
